@import "~bootstrap/scss/bootstrap";

.col-lg-2 {
    background-color: #fafafa;
}

.nav-link {
    text-decoration: none;
    flex-direction: column;
    color: #464646;
    list-style: none;
}

#sideNav {
    height: 100%;
    position: fixed;
}

.menu-button {
    display: hidden;
}

#navHeader {
    margin-top: 6px;
}

ul {
    list-style: none;
}

.logo {
    padding-bottom: 8px;
}

.margin {
    margin-bottom: 40px;
}

.navbar {
    margin-left: -18px;
    padding-top: 40px;
    padding-bottom: 120px;
    gap: 16px;
}

.navbar div {
    width: 100%;
    border-radius: 6px;

}

.navbar div:hover {
    background-color: #f0f0f0;
    color: #452f9f;
}

.navbar img {
    margin-top: -2px;
    width: 20px;
    height: auto;
    margin-right: 16px;
}

.navbar a {
   font-size: 1em;
   color: #464646;

}

.navbar a:hover {
    color: #452f9f;
}

.navTitle h3, .navTitle h4{
    font-size: 18px;
}

#main {
    margin-left: 18%;
}

.footInfo {
    position: absolute;
    bottom: 0;
}

.footInfo p {
    font-size: 16px;
}

.item {
    padding-top: 8px;
    width: 100%;
    height: auto;
    align-content: center;
}

.item:hover {
    background-color: #cbcbcb;
    border-radius: 16px;
    color: #452f9f;
}

.item h4:hover {
    color: #452f9f;
}

.custom-button {
    width: 100%;
    background-color: #452f9f;
    padding: 8px;
}

.custom-button:hover {
    background-color: #7158d5;
}

.dropdown-toggle:focus {
    background-color: #452f9f !important; 
}

.dropdown-menu {
    width: 100%;
}

.nav-justified {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 8px 0px;
}

.margin-top  {
    margin-top: 40px;
}
.margin-header {
    margin-top: 200px;
}

.jumbtron img {
    border-radius: 8px;
}

#navbar-example2 {
    width: 80%;
    max-height: 5px;
    background-color: white;
    position: fixed;
}

#scrollspyHeading1, #scrollspyHeading2, #scrollspyHeading3, #scrollspyHeading4, #scrollspyHeading5 {
    border-bottom: 1px #46464628 solid;
    padding: 16px;
}
.nav-link.active {
    background-color: #452f9f !important;
}
/*Imported -----------------*/
