@import "~bootstrap/scss/bootstrap";

.col-lg-2 {
    background-color: #fafafa;
}

.nav-link {
    text-decoration: none;
    flex-direction: column;
    color: #464646;
    list-style: none;
}

ul {
    list-style: none;
}

#sideNav {
    position: fixed;
    
}

.nav-links {
    margin-left: -52px;

}

.nan-links li {
    display: flex;
    flex-direction: row;
}
